*  {
    margin:2px 2px;
    padding: 0px:;
   
}
#main{
	display: flex;
	flex-direction: column;

}
.forms {
    display: flex;
    justify-content: flex-start;
   /* border: solid;*/
}
.buttons{
	margin-top: 10px;
}
@media (min-height: 450px) and (orientation: portrait){
	.buttons{
		display: flex;
		flex-direction: column;


	}
	.forms {
    display: flex;
    flex-direction: column;
}
}