.house1_roof{
	left: 70px;
	width: 1px;
	height: 1px;
	top: 500px;
	border-top: 150px solid white;
	border-right: 170px solid white;
	border-left: 170px solid white;
	border-bottom: 100px solid #800000;
	background: white;
	position: relative;
}
.house1_wall{
	width: 270px;
	height: 200px;
	left: 100px;
	top: 500px;
	background: #D8BFD8;
	position: relative;
}
.house1_door{
	width: 80px;
	height: 100px;
	left: 170px;
	top: 100px;
	background: #A0522D;
	position: relative;
}
.house1_doorhandle{
	width: 8px;
	height: 8px;
	top: 30px;
	left: 60px;
	border-radius:100%;
	background: black;
	position: relative;
}
.house1_window1{
	width: 50px;
	height: 50px;
	left: 40px;
	top: 0px;
	border-style: solid;
    border-width: 3px;
    border-color: chocolate;
    background-color: lightblue;
	position: relative;
}
.house1_window2{
	width: 50px;
	height: 50px;
	left: 140px;
	bottom: 130px;
	border-style: solid;
    border-width: 3px;
    border-color: chocolate;
    background-color: lightblue;
	position: relative;
}
.house1_w_frame1{
	width: 50px;
	height: 5px;
	top: 25px;
	background-color: chocolate;
	position: relative;
}
.house1_w_frame2{
	bottom: 5px;
	width: 5px;
	height: 50px;
	left: 22.5px;
	background-color: chocolate;
	position: relative;
}





.house2_roof{
	left: 500px;
	width: 1px;
	height: 1px;
	bottom: 520px;
	border-top: 150px solid white;
	border-right: 170px solid white;
	border-left: 170px solid white;
	border-bottom: 100px solid #2F4F4F;
	background: white;
	position: absolute;
}
.house2_wall{
	width: 270px;
	height: 200px;
	left: 540px;
	bottom: 320px;
	background: #5F9EA0;
	position: absolute;
}
.house2_door{
	width: 80px;
	height: 120px;
	left: 80px;
	top: 80px;
	background: #6D3517;
	position: absolute;
}
.house2_doorhandle{
	width: 8px;
	height: 8px;
	top: 60px;
	left: 7px;
	border-radius: 100%;
	background: black;
	position: absolute;
}
.house2_window1{
	width: 50px;
	height: 50px;
	left: 10px;
	top: 40px;
	border-style: solid;
    border-width: 3px;
    border-color: chocolate;
    background-color: lightblue;
	position: absolute;
}
.house2_window2{
	width: 50px;
	height: 50px;
	left: 170px;
	bottom: 110px;
	border-style: solid;
    border-width: 3px;
    border-color: chocolate;
    background-color: lightblue;
	position: absolute;
}
.house2_w_frame1{
	width: 50px;
	height: 5px;
	top: 25px;
	background: chocolate;
	position: absolute;
}
.house2_w_frame2{
	width: 5px;
	height: 50px;
	left: 22.5px;
	background: chocolate;
	position: absolute;
}





.house3_roof{
	margin-left: 900px;
	margin-top: -580px;
	width: 1px;
	height: 1px;
	border-top: 150px solid white;
	border-right: 170px solid white;
	border-left: 170px solid white;
	border-bottom: 100px solid #A0522D;
	background: white;
	position: static;
}

.house3_wall{
	width: 240px;
	height: 200px;
	margin-top: 0px;
	margin-left: 935px;
	background: #FFDAB9;
	position: static;
	padding: 10px;
}
.house3_door{
	width: 80px;
	height: 100px;
	margin-top: 8px;
	margin-left: 60px;
	background: #6D3517;
	position: static;
	padding: 1px
}
.house3_doorhandle{
	width: 8px;
	height: 9px;
	margin-left: 40px;
	margin-top: 43px;
	border-radius: 100%;
	background: black;
	position: static;
}
.house3_window1{
	width: 50px;
	height: 50px;
	margin-left: 0;
	margin-top: 28px;
	border-style: solid;
    border-width: 3px;
    border-color: chocolate;
    background-color: lightblue;
	position: static;
	padding: 1px;
}
.house3_window2{
	width: 50px;
	height: 50px;
	margin-left: 160px;
	margin-top: -43px;
	border-style: solid;
    border-width: 3px;
    border-color: chocolate;
    background-color: lightblue;
	position: static;
	padding: 1px;
}
.house3_w_frame1{
	width: 52px;
	height: 5px;
	margin-left: -1px;
	margin-top: 25px;
	background: chocolate;
	position: static;
}
.house3_w_frame2{
	width: 5px;
	height: 52px;
	margin-top: -31px;
	margin-left: 22px;
	background: chocolate;
	position: static;
}



.house4_roof{
	left: 58px;
	width: 1px;
	height: 1px;
	bottom: 520px;
	border-top: 150px solid white;
	border-right: 170px solid white;
	border-left: 170px solid white;
	border-bottom: 100px solid #556B2F;
	background: white;
	position: fixed;
}
.house4_wall{
	width: 270px;
	height: 200px;
	left: 95px;
	bottom: 320px;
	background: #D2B48C;
	position: fixed;
}
.house4_door{
	width: 80px;
	height: 120px;
	left: 185px;
	top: 215px;
	background: #A0522D;
	position: fixed;
}
.house4_doorhandle{
	width: 8px;
	height: 8px;
	top: 260px;
	left: 192px;
	border-radius: 100%;
	background: black;
	position: fixed;
}
.house4_window1{
	width: 50px;
	height: 50px;
	left: 118px;
	top: 150px;
	border-style: solid;
    border-width: 3px;
    border-color: chocolate;
    background-color: lightblue;
	position: fixed;
}
.house4_window2{
	width: 50px;
	height: 50px;
	left: 248px;
	top: 150px;
	border-style: solid;
    border-width: 3px;
    border-color: chocolate;
    background-color: lightblue;
	position: fixed;
}
.house4_w_frame1{
	width: 50px;
	height: 5px;
	top: 170px;
	background: chocolate;
	position: fixed;
}
.house4_w_frame2{
	width: 5px;
	height: 50px;
	left: 140.5px;
	background: chocolate;
	position: fixed;
}
.house4_w_frame3{
	width: 5px;
	height: 50px;
	left: 270.5px;
	background: chocolate;
	position: fixed;
}


