*{ 
	background: #e0ffff
}

.header img {
    width: 100%;
	height: 150px;
    margin: 0;

}
h1 {
	color: #5c1461;
    margin-top: 10px;
    text-align: center;
    padding: 10px 0 10px 0;
    font-family: "Ubuntu";
}
.main {
	display: block;
    padding: 0 30px;
    font-size: 16pt;
}


h2 {
    margin-top: 10px;
}
h3 {
    margin-top: 10px;
}
img{
    height: 360px;
    width: 600px;
    float: left;
    padding: 0 30px;
    
}
}