.squares{
	display: flex;
	justify-content: space-around;
}

.square{
	width: 150px;
    height: 150px;
}
.n1{
	background: pink;
}
.n2{
    background: purple;
}
.n3{
    background: violet;
}
@media screen and (max-width: 1000px){
	.squares{
		justify-content: flex-start;
		
	}
}

@media screen and (orientation:portrait) {
	.squares{
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}
}

@media screen and (orientation:landscape) and (max-width: 800px){ 
	.squares{
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}